@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --colorAzulPrincipal-: #00aeef;
  --colorGrisPrincipal-: #b4c5d8;
  --colorLetraPrincipal-: #0d0d0d;
}

/* ajustes generales-hoja de trabajo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--colorAzulPrincipal-);
  position: relative;
}

/*ajuste barra de navegacion*/
nav {
  font-size: 18px;
  height: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.containerNav {
  width: 100%;
}



input#menu-hamburguesa ~ ul {
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 60px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  display: none;
  z-index: 100;
}

ul > a {
  text-decoration: none;
}

/*ajuste  imagen barra de navegacion*/
nav > label > img {
  width: 45px;
  background-color: var(--colorFondo-);
  border-radius: 5px;
}

/*ajuste visibilidad menu hamburguesa*/
input#menu-hamburguesa {
  visibility: hidden;
}

/*ajuste boton seleccion menu hamburguesa*/
input#menu-hamburguesa:checked ~ ul {
  display: flex;
}

.prueba:visited {
  color: white;
}

.btn_budget {
  border-radius: 50px;
  background-color: white;
  padding: 1rem;
  list-style: none;
  color: var(--colorLetraPrincipal-);
  font-weight: 100;
}

.btn_budget:hover {
  background-color: #b4c5d8;
  transition-duration: 300ms;
  color: white;
  font-size: 25px;
}

@media (min-width: 980px) {
  nav label {
    display: none;
  }

  input#menu-hamburguesa ~ ul {
    position: static;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
  }

  /* nav {
    font-size: 19px;
    height: 8rem;
  } */
}
